<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.track.edit.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar :: menu}"></nav>

<h1 th:text="#{page.track.edit.heading}"></h1>

<form th:action="@{/tracks/edit/{id}(id=${track.id})}" th:object="${track}" method="post">

    <label th:text="#{label.name}"/>
        <input th:field="*{name}" type="text" required>


    <label th:text="#{label.location}"></label>
        <input th:field="*{location}" type="text" required>


    <label th:text="#{label.length}"></label>
        <input th:field="*{lengthKm}" type="number" step="0.001" required>

    <label th:text="#{label.openedYear}"></label>
        <input th:field="*{openedYear}" type="number" required>


    <button type="submit" th:text="#{button.updateTrack}"></button>
</form>

</body>
</html>
