<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.tracks.title}">Tracks</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/menu :: menu}"></nav>

<h1 th:text="#{page.tracks.heading}">Tracks</h1>

<table border="1">
    <thead>
    <tr>
        <th th:text="#{table.header.id}">ID</th>
        <th th:text="#{table.header.name}">Name</th>
        <th th:text="#{table.header.location}">Location</th>
        <th th:text="#{table.header.length}">Length</th>
        <th th:text="#{table.header.opened}">Opened in</th>
        <th th:text="#{table.header.edit}">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="track : ${tracks}">
        <td th:text="${track.id}"></td>
        <td th:text="${track.name}"></td>
        <td th:text="${track.location}"></td>
        <td th:text="${track.lengthKm}"></td>
        <td th:text="${track.openedYear}"></td>
        <td>
            <a th:href="@{/tracks/edit/{id}(id=${track.id})}" th:text="#{table.header.edit}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<p>
    <strong th:text="#{label.totalTracks} + ': ' + ${#lists.size(tracks)}">Total teams: 0</strong>
</p>
</body>
</html>
