<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: head(#{page.race.add.title})}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<h1 th:text="#{page.race.add.heading}"></h1>

<form th:action="@{/races/add}" method="post">

    <label th:text="#{label.name} + ':'"></label>
    <input type="text" name="name" required>

    <br>

    <label th:text="#{label.date} + ':'"></label>
    <input type="date" name="date" required>

    <br>

    <label th:text="#{label.track} + ':'"></label>
    <select name="trackId">
        <option th:each="track : ${tracks}"
                th:value="${track.id}"
                th:text="${track.name}">
        </option>
    </select>

    <br>

    <label th:text="#{label.addDrivers} + ':'"></label>
    <select name="driverIds" multiple>
        <option th:each="driver : ${drivers}"
                th:value="${driver.id}"
                th:text="${driver.name}">
        </option>
    </select>

    <br><br>

    <button type="submit" th:text="#{button.addRace}"></button>
</form>

</body>
</html>
