<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.races.title}">Races</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/menu :: menu}"></nav>

<h1 th:text="#{page.races.title}">Races</h1>
<table border="1">
    <tr>
        <th th:text="#{table.header.id}">ID</th>
        <th th:text="#{table.header.name}">Name</th>
        <th th:text="#{table.header.drivers}">Drivers</th>
        <th th:text="#{table.header.date}">Date</th>
        <th th:text="#{table.header.track}">Track</th>
        <th th:text="#{table.header.winner}">Winner</th>
        <th th:text="#{table.header.edit}">Edit</th>
    </tr>

    <tr th:each="race : ${races}">
        <td th:text="${race.id}"></td>
        <td th:text="${race.name}"></td>
        <td>
            <details>
                <summary th:text="#{details.showDrivers}">Show Drivers</summary>
                <ul>
                    <li th:each="driver : ${race.drivers}" th:text="${driver.name}"></li>
                </ul>
            </details>
        </td>
        <td th:text="${race.date}"></td>
        <td th:text="${race.track?.name}"></td>
        <td th:text="${race.winner?.name}"></td>
        <td><a th:href="@{/races/edit/{id}(id=${race.id})}" th:text="#{table.header.edit}">Edit</a></td>
    </tr>
</table>
<p>
    <strong th:text="#{label.totalRaces} + ': ' + ${#lists.size(races)}">Total teams: 0</strong>
</p>
</body>
</html>
