<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.races.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar :: menu}"></nav>

<h1 th:text="#{page.races.title}"></h1>
<table>
    <tr>
        <th th:text="#{table.header.id}"></th>
        <th th:text="#{table.header.name}"></th>
        <th th:text="#{table.header.drivers}"></th>
        <th th:text="#{table.header.date}"></th>
        <th th:text="#{table.header.track}"></th>
        <th th:text="#{table.header.winner}"></th>
        <th th:text="#{table.header.edit}"></th>
    </tr>

    <tr th:each="race : ${races}">
        <td th:text="${race.id}"></td>
        <td th:text="${race.name}"></td>
        <td>
            <details>
                <summary th:text="#{details.showDrivers}"></summary>
                <ul>
                    <li th:each="driver : ${race.drivers}" th:text="${driver.name}"></li>
                </ul>
            </details>
        </td>
        <td th:text="${race.date}"></td>
        <td th:text="${race.track?.name}"></td>
        <td th:text="${race.winner?.name}"></td>
        <td><a th:href="@{/races/edit/{id}(id=${race.id})}" th:text="#{table.header.edit}"></a></td>
    </tr>
</table>
<p>
    <strong th:text="#{label.totalRaces} + ': ' + ${#lists.size(races)}"></strong>
</p>
</body>
</html>
