$primary: #0d6efd;
$secondary: #495057;
$border-radius: 0.5rem;

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "style";
